/* CSS styles for PSI monitoring webpage
 * Moved here to keep the main HTML file neat
*/

.reading {
	text-align: center;
	font-size: 4.5em;
	line-height: 60px;
}

#psi-display {
	border-radius: 15px;
	transition: background-color 4.0s ease;
}

#descriptor {
	line-height: 20px;
}

.update-time {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}

.psi-good {
	background-color: rgba(0, 255, 0, 0.7);
}

.psi-moderate {
	background-color: rgba(128, 255, 0, 0.7);
}

.psi-unhealthy {
	background-color: rgba(255, 255, 0, 0.7);
}

.psi-very-unhealthy {
	background-color: rgba(255, 128, 0, 0.7);
}

.psi-hazardous {
	background-color: rgba(255, 0, 0, 0.7);
}

.aqi-good {
	background-color: rgba(0, 228, 0, 0.7);
}

.aqi-moderate {
	background-color: rgba(255, 255, 0, 0.7);
}

.aqi-sensitive-unhealthy {
	background-color: rgba(255, 126, 0, 0.7);
}

.aqi-unhealthy {
	background-color: rgba(255, 0, 0, 0.7);
}

.aqi-very-unhealthy {
	background-color: rgba(153, 0, 76, 0.7);
}

.aqi-hazardous {
	background-color: rgba(126, 0, 35, 0.7);
}


.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
